.container
  .row
    .action
      .col-md-4.col-sm-12{:id=>"login"}
        .contact-form.bottom
          %br
          -if "http://#{request.env['HTTP_HOST']+request.path}" != "http://#{request.env['HTTP_HOST']}/cadastro/notificacoes"
            = form_tag url(:cadastros,:create),:novalidate=>true,:id=>"loginForm" do
              .form-group
                =[:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert alert-danger fade in", :bootstrap => false) }.join.html_safe
                =email_field_tag :email, :value => params[:email], :class => 'form-control input-lg', :placeholder => 'Email'
                %label
                =password_field_tag :password, :value => params[:password], :class => 'form-control input-lg', :placeholder => 'Senha'
                =text_field_tag :previousurl, :value=> request.path_info=='/entrar'? back : request.path_info, :type=>"hidden"
                %label
                =submit_tag('Efetuar login', :class => 'btn btn-submit', :style=>"text-align: center; padding-left: 17px")
            %br

